# folders to ignore for confidentiality reasons
data

# other folders to ignore
licence_info/
pdfs/
static/
.ipynb_checkpoints/
__pycache__/ 
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
utils.cpython-36.pyc

#Miscellaneous
.DS_Store